<%= simple_form_for project, html: { class: "project form" } do |f| %>
  <% if project.errors.any? %>
    <div class="error-message">
      <%= project.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name,
              class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm',
              input_html: { autofocus: true },
              label_html: { class: 'block text-sm font-medium text-gray-700' }%>

  <br>

  <%= link_to "Cancel", projects_path,
                        class: "inline-flex items-center rounded-full border border-transparent bg-indigo-600 px-3.5 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
  <%= f.submit class: "inline-flex items-center rounded-full border border-transparent bg-indigo-600 px-3.5 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
<% end %>
